display_size 800 600
device_joystick sdl
device_video_clock 10-50 / 31.5 / 55-130
device_video auto
device_video_interlace no
#*************************************************************
#FULLSCREEN / WINDOW
#device_video_output fullscreen
device_video_output window
#*************************************************************
misc_quiet yes
misc_hidedesktop yes
misc_splash none
menu_systems no
event_mode fast
event_repeat 150 20
#*************************************************************
#Salva ao fechar
#config restore_at_idle 
#Não salva ao fechar
#config save_at_exit
#*************************************************************
menu_systems_background none
menu_systems_default_marquee default
menu_systems_default_snap default
menu_systems_flyers ".\Layouts\MenuSystem\snap\;..\png"
menu_systems_cabinets ".\Layouts\MenuSystem\flyers\;..\png"
menu_systems_altss ".\Layouts\MenuSystem\snap\;..\png"
menu_systems_layout ".\Layouts\MenuSystem\menu.amp"
menu_systems_font ".\auxiliar\font\impact.ttf" 
#*************************************************************
preview_default ".\auxiliar\image\semfoto.png"
sound_foreground_key ".\auxiliar\som\updown.wav"
xml_dir ".\listas"
#*************************************************************
#background_config_menu ".\auxiliar\image\mamelogo.png"
background_config_menu none
sound_foreground_coin ".\auxiliar\som\coin.wav"
sound_foreground_nocoin ".\auxiliar\som\no_credito.wav"
sound_foreground_notime ".\auxiliar\som\no_tempo.wav"
sound_foreground_zgeral ".\auxiliar\som\voz_zerarcontador.wav"
sound_foreground_zerado ".\auxiliar\som\voz_zerarcreditos.wav"
#***********************************************
#spande snaps
#***********************************************
preview_expand 3.0
#***********************************************
#Descanso de tela
#*********************************************** 
idle_screensaver 120 20 
idle_screensaver_preview snap
#*******************************************************************
#formato em que a lista poderá ser vista
#mode_skip - Lista de skins e visualizações que não aparecerá na tela -#custom-
#*******************************************************************
mode_skip tile_small full full_mixed text list_mixed tile_normal tile_big tile_enormous tile_giant tile_icon tile_marquee tile_tiny list
mode layout
sort name
preview snap
#***********************************************
#Teclas 
#***********************************************
event_assign setcoin 7_pad or 2joy_7
event_assign command f8 or 2joy_8
event_assign emulator_next f7 or 2joy_5
event_assign emulator_pre f6 or 2joy_6
event_assign up up or 1joy_up or 2joy_up or 3joy_up 
event_assign down down or 1joy_down or 2joy_down or 3joy_down
event_assign left left or 1joy_left or 2joy_left or 3joy_left
event_assign right right or 1joy_right or 2joy_right or 3joy_right
event_assign enter enter or enter_pad or 2joy_9 or 2joy_10
event_assign escemule lcontrol or 2joy_5 or 2joy_6
event_assign help f1
#***********************************************
event_assign menu backquote or backslash
event_alpha yes
event_assign esc esc
event_assign space space
event_assign home home
event_assign end end
event_assign pgup pgup
event_assign pgdn pgdn 
event_assign del del
event_assign ins insert
#event_assign shutdown lcontrol esc
event_assign mode tab

event_assign favorites_next f2
event_assign type f3
event_assign exclude f4
event_assign sort f5
event_assign setfavorites f9 
event_assign settype f10
event_assign runclone f12
event_assign rotate 0_pad
event_assign lock scrlock
event_assign preview space
event_assign mute period_pad



#***********************************************
#emulador mame
#***********************************************
emulator "ARCADE" generic ".\Emuladores\MAME\mameui32.exe" "%p"
emulator_roms "ARCADE" "..\..\JOGOS\ARCADE;..\..\JOGOS\CAPCOM;..\..\JOGOS\FIGHTER;..\..\JOGOS\NEOGEO;..\..\JOGOS\SHUMPS"
emulator_altss "ARCADE" "..\..\snap\arcade;..\mng"

emulator_flyers "ARCADE" "D:\Desktop\icons"
emulator_cabinets "ARCADE" "D:\Desktop\icons"
emulator_icons "ARCADE" "D:\Desktop\icons"
emulator_marquees "ARCADE" "D:\Desktop\icons"
emulator_titles "ARCADE" "D:\Desktop\icons"

emulator_roms_filter "ARCADE" "*.zip"
emulator_layout "ARCADE" ".\Layouts\arcade.amp"
emulator_background "ARCADE" "F:\ADVMENU\ADVMENU\Layouts\MenuSystem\arcade.png"
#***********************************************
#CPS
#***********************************************
emulator "CAPCOM" generic ".\Emuladores\MAME\mameui32.exe" "%p"
emulator_roms "CAPCOM" "..\..\JOGOS\CAPCOM"
emulator_altss "CAPCOM" "..\..\snap\arcade;..\mng"
emulator_roms_filter "CAPCOM" "*.zip"
emulator_layout "CAPCOM" ".\Layouts\capcom.amp"
#***********************************************
#NEOGEO
#***********************************************
emulator "NEOGEO" generic ".\Emuladores\MAME\mameui32.exe" "%p"
emulator_roms "NEOGEO" "..\..\JOGOS\NEOGEO"
emulator_altss "NEOGEO" "..\..\snap\arcade;..\mng"
emulator_roms_filter "NEOGEO" "*.zip"
emulator_layout "NEOGEO" ".\Layouts\neogeo.amp"
#***********************************************
#SHMUPS
#***********************************************
emulator "JogosDeNave" generic ".\Emuladores\MAME\mameui32.exe" "%p"
emulator_roms "JogosDeNave" "..\..\JOGOS\SHUMPS"
emulator_altss "JogosDeNave"  "..\..\snap\arcade;..\mng"
emulator_roms_filter "JogosDeNave" "*.zip"
emulator_layout "JogosDeNave" ".\Layouts\JogosDeNave.amp"
#***********************************************
#FIGHTER
#***********************************************
emulator "JogosDeLuta" generic ".\Emuladores\MAME\mameui32.exe" "%p"
emulator_roms "JogosDeLuta" "..\..\JOGOS\FIGHTER" 
emulator_altss "JogosDeLuta" "..\..\snap\arcade;..\mng"
emulator_roms_filter "JogosDeLuta" "*.zip"
emulator_layout "JogosDeLuta" ".\Layouts\JogosDeLuta.amp"
#***********************************************
#emulador TAITO TYPE X²
#*********************************************** 
emulator "TAITOTYPEX" generic "GameLauncher.exe" "%p"
emulator_roms "TAITOTYPEX" ".\JOGOS\taito"
emulator_altss "TAITOTYPEX" ".\snap\taito;..\mng"
emulator_roms_filter "TAITOTYPEX" "*.lnk"
emulator_layout "TAITOTYPEX" ".\Layouts\TAITOTYPEX.amp"
#***********************************************
#emulador PcGames
#***********************************************
emulator "JogosDeComputador" generic "GameLauncher.exe" "%p"
emulator_roms "JogosDeComputador" ".\jogos\pcgames"
emulator_altss "JogosDeComputador" ".\snap\PcGames;..\mng" 
emulator_roms_filter "JogosDeComputador" "*.lnk"
emulator_layout "JogosDeComputador" ".\Layouts\JogosDeComputador.amp"
#***********************************************
#HACKERS SISTEM
#***********************************************
emulator "HACKERS" generic ".\Emuladores\retroarch32\retroarch.exe" "%p"
emulator_roms "HACKERS" "..\..\jogos\HACKERS"
emulator_altss "HACKERS" "..\..\snap\HACKERS;..\png"
emulator_roms_filter "HACKERS" "*.32x;*.bml;*.fds;*.gb;*.gba;*.gbc;*.md;*.n64;*.nds;*.nes;*.pce;*.sms;*.z64;*.smc;*.sfc;*.bin"
emulator_layout "HACKERS" ".\Layouts\hackers.amp"
#***********************************************
#emulador PLAYSTATION 1
#***********************************************
emulator "Playstation1" generic ".\Emuladores\retroarch32\retroarch.exe" "%p"  
emulator_roms "Playstation1" "..\..\jogos\psx1"
emulator_altss "Playstation1" "..\..\snap\psx1;..\mng"
emulator_roms_filter "Playstation1" "*cue"
emulator_layout "Playstation1" ".\Layouts\Playstation1.amp"
#***********************************************
#emulador PLAYSTATION 2
#***********************************************
emulator "Playstation2" generic ".\Emuladores\PSX2\pcsx2.exe" "%p"
emulator_roms "Playstation2" "..\..\jogos\psx2"
emulator_altss "Playstation2" "..\..\snap\psx2;..\mng"
emulator_roms_filter "Playstation2" "*bin;*img;*iso;*7z"
emulator_layout "Playstation2" ".\Layouts\Playstation2.amp"
#***********************************************
#PSP
#***********************************************
emulator "PSP" generic ".\Emuladores\retroarch32\retroarch.exe" "%p"
emulator_roms "PSP" "..\..\jogos\PSP"
emulator_altss "PSP" "..\..\snap\PSP;..\png"
emulator_roms_filter "PSP" "*.cso;*img;*iso;*7z"
emulator_layout "PSP" ".\Layouts\psp.amp"
#***********************************************
#emulador SNES
#***********************************************
emulator "SuperNintendo" generic ".\Emuladores\retroarch32\retroarch.exe" "%p"  
emulator_roms "SuperNintendo" "..\..\jogos\snes"
emulator_altss "SuperNintendo" "..\..\snap\snes;..\mng" 
emulator_roms_filter "SuperNintendo" "*.zip;*.sfc;*.smc"
emulator_layout "SuperNintendo" ".\Layouts\SuperNintendo.amp"
#***********************************************
#N64
#***********************************************
emulator "NINTENDO64" generic ".\Emuladores\retroarch32\retroarch.exe" "%p"
emulator_roms "NINTENDO64" "..\..\jogos\N64"
emulator_altss "NINTENDO64" "..\..\snap\N64;..\png"
emulator_roms_filter "NINTENDO64" "*.zip;*.n64;*.z64"
emulator_layout "NINTENDO64" ".\Layouts\NINTENDO64.amp"
#***********************************************
#emulador GameBoy
#***********************************************
emulator "Gameboy" generic ".\Emuladores\retroarch32\retroarch.exe" "%p"
emulator_roms "Gameboy" "..\..\jogos\GB" 
emulator_altss "Gameboy" "..\..\snap\GB;..\png"
emulator_roms_filter "Gameboy" "*.zip;*.gb;*.gbc"
emulator_layout "Gameboy" ".\Layouts\Gameboy.amp"
#***********************************************
#emulador GameBoy Color
#***********************************************
emulator "GameboyColor" generic ".\Emuladores\retroarch32\retroarch.exe" "%p"
emulator_roms "GameboyColor" "..\..\jogos\GBC" 
emulator_altss "GameboyColor" "..\..\snap\GBC;..\png"
emulator_roms_filter "GameboyColor" "*.zip;*.gb;*.gbc"
emulator_layout "GameboyColor" ".\Layouts\GameboyColor.amp"

#***********************************************
#emulador Gameboy Advance
#***********************************************
emulator "GameboyAdvance" generic ".\Emuladores\retroarch32\retroarch.exe" "%p"
emulator_roms "GameboyAdvance" "..\..\jogos\GBA" 
emulator_altss "GameboyAdvance" "..\..\snap\GBA;..\png"
emulator_roms_filter "GameboyAdvance" "*.zip;*.gb;*.gbc;*.gba"
emulator_layout "GameboyAdvance" ".\Layouts\Gameboyadvance.amp"
#***********************************************
#NES
#***********************************************
emulator "Nintendinho" generic ".\Emuladores\retroarch32\retroarch.exe" "%p" 
emulator_roms "Nintendinho" "..\..\jogos\nes"
emulator_altss "Nintendinho" "..\..\snap\nes;..\png"
emulator_roms_filter "Nintendinho" "*.nes;*.7z"
emulator_layout "Nintendinho" ".\Layouts\Nintendinho.amp"
#***********************************************
#Nintendo WII
#***********************************************
emulator "NintendoWII" generic ".\Emuladores\WII\Dolphin.exe" "%p"
emulator_roms "NintendoWII" "..\..\jogos\WII"
emulator_altss "NintendoWII" "..\..\snap\WII;..\png"
emulator_roms_filter "NintendoWII" "*.wad;*.iso"
emulator_layout "NintendoWII" ".\Layouts\NintendoWII.amp"
#***********************************************
#Nintendo wii Triforce
#***********************************************
emulator "NintendoWIITriforce" generic ".\Emuladores\WIITriforce\Dolphin.exe" "%p"
emulator_roms "NintendoWIITriforce" "..\..\jogos\WIITriforce"
emulator_altss "NintendoWIITriforce" "..\..\snap\WIITriforce;..\png"
emulator_roms_filter "NintendoWIITriforce" "*.wad;*.iso"
emulator_layout "NintendoWIITriforce" ".\Layouts\NintendoWIITriforce.amp"

#***********************************************
#Nintendo WIIU 
#***********************************************
emulator "NintendoWIIU" generic ".\Emuladores\WIIU\Cemu.exe" "%p"
emulator_roms "NintendoWIIU" "..\..\jogos\WIIU"
emulator_altss "NintendoWIIU" "..\..\snap\WIIU;..\png"
emulator_roms_filter "NintendoWIIU" "*.rpx;*.wux"
emulator_layout "NintendoWIIU" ".\Layouts\NintendoWIIU.amp"

#***********************************************
#emulador MegaDrive
#***********************************************
emulator "MEGADRIVE" generic ".\Emuladores\retroarch32\retroarch.exe" "%p"
emulator_roms "MEGADRIVE" "..\..\Jogos\Megadrive"
emulator_altss "MEGADRIVE" "..\..\snap\Megadrive;..\png"
emulator_roms_filter "MEGADRIVE" "*.md"
emulator_layout "MEGADRIVE" ".\Layouts\MegaDrive.amp"
#***********************************************
#Master System
#***********************************************
emulator "MASTERSYSTEM" generic ".\Emuladores\retroarch32\retroarch.exe" "%p"
emulator_roms "MASTERSYSTEM" "..\..\jogos\MASTERSYSTEM"
emulator_altss "MASTERSYSTEM" "..\..\snap\MASTERSYSTEM;..\png"
emulator_roms_filter "MASTERSYSTEM" "*.zip;*.sms"
emulator_layout "MASTERSYSTEM" ".\Layouts\MasterSystem.amp"
#***********************************************
#SEGA32x
#***********************************************
emulator "SEGA32X" generic ".\Emuladores\retroarch32\retroarch.exe" "%p"
emulator_roms "SEGA32X" "..\..\jogos\SEGA32X"
emulator_altss "SEGA32X" "..\..\snap\SEGA32X;..\png"
emulator_roms_filter "SEGA32X" "*.zip;*.32x"
emulator_layout "SEGA32X" ".\Layouts\SEGA32X.amp"
#***********************************************
#emulador DREAMCAST
#*********************************************** 
emulator "DREAMCAST" generic ".\Emuladores\retroarch64\retroarch.exe" "%p"  
emulator_roms "DREAMCAST" "..\..\jogos\DREAMCAST"
emulator_altss "DREAMCAST" "..\..\snap\DREAMCAST;..\mng" 
emulator_roms_filter "DREAMCAST" "*.zip;*.cdi"
emulator_layout "DREAMCAST" ".\Layouts\DREAMCAST.amp"

#***********************************************
#ATARI2600
#***********************************************
emulator "ATARI2600" generic ".\Emuladores\retroarch32\retroarch.exe" "%p"
emulator_roms "ATARI2600" "..\..\jogos\ATARI2600"
emulator_altss "ATARI2600" "..\..\snap\ATARI2600;..\png"
emulator_roms_filter "ATARI2600" "*.A26;*.bin;*.zip"
emulator_layout "ATARI2600" ".\Layouts\atari2600.amp"
#***********************************************
#ATARI7800
#***********************************************
emulator "ATARI7800" generic ".\Emuladores\retroarch32\retroarch.exe" "%p"
emulator_roms "ATARI7800" "..\..\jogos\atari7800"
emulator_altss "ATARI7800" "..\..\snap\atari7800;..\png"
emulator_roms_filter "ATARI7800" "*.A78;*.zip"
emulator_layout "ATARI7800" ".\Layouts\atari7800.amp"
#***********************************************
#Turbografx16
#*********************************************** 
emulator "TURBOGRAFX16" generic ".\Emuladores\retroarch32\retroarch.exe" "%p"
emulator_roms "TURBOGRAFX16" "..\..\jogos\TURBOGRAFX16"
emulator_altss "TURBOGRAFX16" "..\..\snap\TURBOGRAFX16;..\png"
emulator_roms_filter "TURBOGRAFX16" "*.PCE;*.ZIP"
emulator_layout "TURBOGRAFX16" ".\Layouts\Turbografx16.amp"





device_color_bgr15 yes
device_color_bgr16 yes
device_color_bgr24 yes
device_color_bgr32 yes
device_color_bgr8 yes
device_color_palette8 yes
device_color_yuy2 yes

device_keyboard auto
device_lgrawinput_calibration auto
device_mouse none
device_sdl_samples 2048
device_sound auto
device_svgawin_divideclock no
device_svgawin_skipboard 0
device_svgawin_stub fullscreen

device_video_cursor auto
device_video_doublescan yes
device_video_fastchange no


device_video_overlaysize auto
device_video_singlescan yes
difficulty none
display_brightness 1
display_gamma 1
display_orientation 
display_restoreatexit yes
display_restoreatgame yes


favorites "Favorites"
favorites_dir favlist
favorites_filtertype no
icon_space 43
idle_exit_time 0
idle_exit_type normal

include 
input_hotkey yes

mame_history none
mame_info none
menu_pos 0 0







menu_systems_font_color 
menu_systems_font_color_select 
menu_systems_font_size 
menu_systems_help 
menu_systems_icons 
menu_systems_start 
misc_exit normal





mouse_axis_invert none
mouse_delta 100
rem_selected yes
romset_type non-merged
sound_background_begin none
sound_background_end none
sound_background_loop none
sound_background_loop_dir none
sound_background_start none
sound_background_stop none
sound_buffer 0.1
sound_foreground_begin none
sound_foreground_end none
sound_foreground_start none
sound_foreground_stop none
sound_latency 0.1
sound_samplerate 44100
sound_volume -20

ui_bottombar yes
ui_clip single
ui_color help 000000 ffffff
ui_color help_tag 247ef0 ffffff
ui_color submenu_bar 247ef0 ffffff
ui_color submenu_item 000000 ffffff
ui_color submenu_item_select 000000 afffff
ui_color submenu_hidden 808080 ffffff
ui_color submenu_hidden_select 808080 afffff
ui_color menu_item 000000 ffffff
ui_color menu_hidden 808080 ffffff
ui_color menu_tag 247ef0 ffffff
ui_color menu_item_select 000000 afffff
ui_color menu_hidden_select 808080 afffff
ui_color menu_tag_select 247ef0 afffff
ui_color bar 000000 ffffff
ui_color bar_tag 247ef0 ffffff
ui_color bar_hidden 808080 ffffff
ui_color grid 247ef0 ffffff
ui_color backdrop 000000 808080
ui_color icon ffffff ffffff
ui_color cursor 808080 ffffff

ui_console no
ui_exit none
ui_font auto
ui_fontsize auto
ui_game snap
ui_gamemsg "Loading"
ui_help none
ui_menukey yes
ui_skipbottom 0
ui_skipleft 0
ui_skipright 0
ui_skiptop 0
ui_startup none
ui_topbar yes
ui_translucency 0.6

arcade/mode layout
cps/mode layout
neogeo/mode layout
all_games/fighter/menu_pos 13 0
fighter/type_include "-LISTA COMPLETA-"
fighter/type_include "EXCLUIDOS"
fighter/type_include "ADULTOS"
fighter/type_include "BIOS"

taito/type_include "-LISTA COMPLETA-"
taito/type_include "EXCLUIDOS"
taito/type_include "ADULTOS"
taito/type_include "BIOS"

pcgames/type_include "-LISTA COMPLETA-"
psx1/type_include "-LISTA COMPLETA-"
psx1/type_include "EXCLUIDOS"
psx1/type_include "ADULTOS"
psx1/type_include "BIOS"

psx2/type_include "-LISTA COMPLETA-"
psx2/type_include "EXCLUIDOS"
psx2/type_include "ADULTOS"
psx2/type_include "BIOS"

snes/type_include "-LISTA COMPLETA-"
snes/type_include "EXCLUIDOS"
snes/type_include "ADULTOS"
snes/type_include "BIOS"

gb/type_include "-LISTA COMPLETA-"
gb/type_include "EXCLUIDOS"
gb/type_include "ADULTOS"
gb/type_include "BIOS" 

menu_systems/sort name
arcade/sort name
capcom/sort name
neogeo/sort name
jogos_de_nave/sort name
jogos_de_luta/sort name
taito_type_x/sort name
jogos_de_computador/sort name
playstation_1/sort name
playstation_2/sort name
super_nintendo/sort name
gameboy/sort name
gameboy_color/sort name
megadrive/sort name
mastersystem/sort name
nintendo_64/sort name
psp/sort name
nintendinho/sort name
atari2600/sort name
atari7800/sort name
turbografx16/sort name
nintendo_wii/sort name
all_games/super_nintendo/menu_pos 79 11
jogos_de_luta/type_include "-LISTA COMPLETA-"
nintendo_wii/type_include "-LISTA COMPLETA-"
nintendo_wii/type_include "EXCLUIDOS"
nintendo_wii/type_include "ADULTOS"
nintendo_wii/type_include "BIOS"
supernintendo/mode layout
playstation2/mode layout
menu_systems/mode layout
hackers/mode layout
menu_systems/sound_volume 0
arcade/sound_volume 0
capcom/sound_volume 0
neogeo/sound_volume 0
jogosdenave/sound_volume 0
jogosdeluta/sound_volume 0
taitotypex/sound_volume 0
jogosdecomputador/sound_volume 0
playstation1/sound_volume 0
playstation2/sound_volume 0
supernintendo/sound_volume 0
gameboy/sound_volume 0
gameboycolor/sound_volume 0
gameboyadvance/sound_volume 0
megadrive/sound_volume 0
mastersystem/sound_volume 0
sega32x/sound_volume 0
hackers/sound_volume 0
nintendo64/sound_volume 0
psp/sound_volume 0
nintendinho/sound_volume 0
atari2600/sound_volume 0
atari7800/sound_volume 0
turbografx16/sound_volume 0
nintendowii/sound_volume 0
nintendowiiu/sound_volume 0
security_exit no
all_games/sega32x/menu_pos 0 2
all_games/dreamcast/menu_pos 3 12
all_games/megadrive/menu_pos 10 6
all_games/turbografx16/menu_pos 68 10
jogosdecomputador/mode layout
all_games/nintendo64/menu_pos 97 3
all_games/psp/menu_pos 0 17
all_games/gameboyadvance/menu_pos 283 14
gameboy/mode layout
all_games/nintendowii/menu_pos 347 7
playstation1/mode layout
turbografx16/mode layout
all_games/atari2600/menu_pos 0 2
all_games/gameboy/menu_pos 0 3
all_games/hackers/menu_pos 0 9
all_games/gameboycolor/menu_pos 14 9
all_games/nintendowiitriforce/menu_pos 0 2
all_games/playstation1/menu_pos 25 13
all_games/supernintendo/menu_pos 619 16
taitotypex/mode layout
menu_systems/menu_pos 1 0
favorites_include "All Games"
type_include "-LISTA COMPLETA-"
menu_systems_attrib missing exclude
menu_systems_attrib clone exclude
arcade/type_include "-LISTA COMPLETA-"
capcom/type_include "-LISTA COMPLETA-"
neogeo/type_include "-LISTA COMPLETA-"
taitotypex/type_include "-LISTA COMPLETA-"
taitotypex/type_include "ADULTOS"
taitotypex/type_include "BIOS"
taitotypex/type_include "EXCLUIDOS"
dreamcast/type_include "-LISTA COMPLETA-"
emulator_include "CAPCOM"
type "-LISTA COMPLETA-"
type "ADULTOS"
type "BIOS"
type "EXCLUIDOS"
emulator_attrib "ARCADE" missing exclude
emulator_attrib "ARCADE" clone exclude
emulator_attrib "CAPCOM" missing exclude
emulator_attrib "CAPCOM" clone exclude
emulator_attrib "NEOGEO" missing exclude
emulator_attrib "NEOGEO" clone exclude
emulator_attrib "JogosDeNave" missing exclude
emulator_attrib "JogosDeNave" clone exclude
emulator_attrib "JogosDeLuta" missing exclude
emulator_attrib "JogosDeLuta" clone exclude
emulator_attrib "TAITOTYPEX" missing exclude
emulator_attrib "TAITOTYPEX" clone exclude
emulator_attrib "JogosDeComputador" missing exclude
emulator_attrib "JogosDeComputador" clone exclude
emulator_attrib "HACKERS" missing exclude
emulator_attrib "HACKERS" clone exclude
emulator_attrib "Playstation1" missing exclude
emulator_attrib "Playstation1" clone exclude
emulator_attrib "Playstation2" missing exclude
emulator_attrib "Playstation2" clone exclude
emulator_attrib "PSP" missing exclude
emulator_attrib "PSP" clone exclude
emulator_attrib "SuperNintendo" missing exclude
emulator_attrib "SuperNintendo" clone exclude
emulator_attrib "NINTENDO64" missing exclude
emulator_attrib "NINTENDO64" clone exclude
emulator_attrib "Gameboy" missing exclude
emulator_attrib "Gameboy" clone exclude
emulator_attrib "GameboyColor" missing exclude
emulator_attrib "GameboyColor" clone exclude
emulator_attrib "GameboyAdvance" missing exclude
emulator_attrib "GameboyAdvance" clone exclude
emulator_attrib "Nintendinho" missing exclude
emulator_attrib "Nintendinho" clone exclude
emulator_attrib "NintendoWII" missing exclude
emulator_attrib "NintendoWII" clone exclude
emulator_attrib "NintendoWIITriforce" missing exclude
emulator_attrib "NintendoWIITriforce" clone exclude
emulator_attrib "NintendoWIIU" missing exclude
emulator_attrib "NintendoWIIU" clone exclude
emulator_attrib "MEGADRIVE" missing exclude
emulator_attrib "MEGADRIVE" clone exclude
emulator_attrib "MASTERSYSTEM" missing exclude
emulator_attrib "MASTERSYSTEM" clone exclude
emulator_attrib "SEGA32X" missing exclude
emulator_attrib "SEGA32X" clone exclude
emulator_attrib "DREAMCAST" missing exclude
emulator_attrib "DREAMCAST" clone exclude
emulator_attrib "ATARI2600" missing exclude
emulator_attrib "ATARI2600" clone exclude
emulator_attrib "ATARI7800" missing exclude
emulator_attrib "ATARI7800" clone exclude
emulator_attrib "TURBOGRAFX16" missing exclude
emulator_attrib "TURBOGRAFX16" clone exclude
game "CAPCOM/sf2" "" "" 0 0 ""
